body{
background:#0d1117;
font-family:Arial;
color:white;
margin:0;
padding:0;
}

.container{
text-align:center;
padding-top:40px;
}

h1{
color:#00e5ff;
margin-bottom:40px;
}

.cards{
display:flex;
justify-content:center;
gap:40px;
margin-bottom:40px;
}

.card{
background:#161b22;
padding:30px;
border-radius:12px;
width:200px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.card h2{
color:#c9d1d9;
}

.card p{
font-size:30px;
color:#00e5ff;
}

.chart-box{
width:500px;
margin:auto;
margin-bottom:40px;
}

.launch-btn{
background:#00e5ff;
padding:12px 25px;
text-decoration:none;
color:black;
border-radius:8px;
font-weight:bold;
}

.launch-btn:hover{
background:#00bcd4;
}
